<div class="py-3 px-3">
  <h2>{{data.id ? 'Edit Superhero' : 'Add Superhero'}}</h2>
  <form [formGroup]="superHeroForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Iron man"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Alias</mat-label>
      <input matInput formControlName="alias" placeholder="Tony Stark"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Power</mat-label>
      <textarea matInput formControlName="power" placeholder="Powered suit of armor"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>First Appearance</mat-label>
      <input matInput formControlName="first_appearance" placeholder="Tales of Suspense #39 (March 1963)"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Team</mat-label>
      <mat-select formControlName="team" placeholder="Select a team">
        <mat-option value="" disabled>Select a team</mat-option>
        <mat-option value="Avengers">Avengers</mat-option>
        <mat-option value="Defenders">Defenders</mat-option>
        <mat-option value="Justice League">Justice League</mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions align="end">
      <button mat-raised-button color="secondary" type="button" (click)="closeDialog()">Close</button>
      <button mat-raised-button color="primary" [disabled]="superHeroForm.invalid" type="submit">Save</button>
    </div>
  </form>
</div>
